.vscode/**
.vscode-test/**
src/**
.gitignore
tsconfig.json
**/*.map
**/*.ts
.github/**
website/**
scripts/**
tests/**
browser-extension/**
packages/**
.husky/**
.cursor/**
.kilo/**
.secretlint*
DEPLOYMENT.md
AUTHORS.md
CONTRIBUTING.md
*.vsix
**/*.wasm
node_modules/**
