.vscode/**
.vscode-test/**
src/**
.gitignore
tsconfig.json
**/*.map
**/*.ts
.github/**
website/**
scripts/**
DEPLOYMENT.md
AUTHORS.md
CONTRIBUTING.md
*.vsix
node_modules/**
!node_modules/sql.js/package.json
!node_modules/sql.js/dist/sql-wasm.js
media/sql-wasm.js
